# blacklist everything
*

# whitelist directories
!*/

# whitelist files as needed
!README.*
!.gitignore
!/hipposcraper/**
!/hipposcraper.py
!/requirements.txt
!/setup.sh
!/install.py
!/tests/**

# blacklist remaining "lint"
.DS_Store
.tags
.vscode
*.py[cod]
*.o
*.so
*.sw[op]
*~
