# blacklist everything
*

# whitelist directories
!*/

# whitelist files as needed
!.gitignore
!README*
!AUTHORS
!LICENSE
!/hippoconfig.py
!/hippodir.py
!/hippodoc.py
!/hipposcrape.py
!/hipposcraper/**
!/install.py
!/requirements.txt
!/setup.py
!/setup.cfg
!/tests/**

# blacklist remaining "lint"
.DS_Store
.tags
.vscode
*.py[cod]
*.o
*.so
*.sw[op]
*~
