# blacklist everything
*

# whitelist directories
!*/

# whitelist files as needed
!README.*
!LICENSE
!AUTHORS
!.gitignore
!/hippoconfig.py
!/hippodir.py
!/hippodoc.py
!/hipposcraper.py
!/hipposcraper/**
!/install.py
!/requirements.txt
!/setup.py
!/setup.sh
!/tests/**

# blacklist remaining "lint"
.DS_Store
.tags
.vscode
*.py[cod]
*.o
*.so
*.sw[op]
*~
